.header-title,
.header-description {
    color: var(--white);
}

.header-title {
    font-weight: 700;
    letter-spacing: 2px;
}

.header-wrapper {
    height: 100vh;
}

.header-title,
.header-description,
.button-play {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease;
}

.fade-move {
    opacity: 1;
    transform: translateX(0px);
}