.movie-card {
    background-color: #F4F4ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px !important;
    cursor: pointer;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}

.movie-card-header img {
    width: 100%;
    height: 100%;
}

.movie-card:hover {
    transform: translateZ(5px) rotateX(-14deg) rotateY(-10deg);
}

.movie-card-body {
    padding: 1.25rem 1rem;
}

.movie-card-body p:after {
    content: '';
    position: absolute;
    left: 185px;
    margin-left: -40px;
    width: 40px;
    height: 100%;
    top: 0;
    background: linear-gradient(to right, rgba(240, 244, 245, 0), rgba(240, 244, 245, 1));
}

.movie-card-body p {
    display: inline-block;
    overflow: hidden;
    max-width: 180px;
    position: relative;
    white-space: nowrap;
}

.movie-card-body .movie-title {
    color: #138A36;
    font-size: 1.25rem;
    font-weight: 600;
}

.movie-card-body .movie-genre {
    color: #138A36;
    font-size: .75rem;
    font-weight: 400;
}