/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.close-btn {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: .25s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.close-btn:hover {
    opacity: 0.7;
}

.close-span,
.close-span::before,
.close-span::after {
    background-color: #138A36;
}

.close-btn-box {
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.close-span {
    display: block;
    top: 50%;
    margin-top: -1px;
}

.close-span,
.close-span::before,
.close-span::after {
    width: 25px;
    height: 4px;
    background-color: #138A36;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease;
}

.close-span::before,
.close-span::after {
    content: "";
    display: block;
}

.close-span::before {
    top: -10px;
}

.close-span::after {
    bottom: -10px;
}

.close-span {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.close-span::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.close-span::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}