#logout-btn {
    cursor: pointer;
    width: 100px;
    height: 45px;
    padding: 8px;
    background-color: #16C552;
    border: 2px solid #16C552;
    color: #fff;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 22px;
    transition: all ease .25s;
}

#logout-btn>button:hover {
    opacity: .8;
}