.button {
    padding: 0;
    margin: 0;
    margin-left: 2rem;
    display: block;
    outline: 0;
    border: none;
    background-color: transparent;
}

.button i {
    font-size: 2.5rem;
    color: var(--white);
    opacity: .7;
    transition: all .35s ease;
}

.button i:hover {
    opacity: 1;
}