.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    z-index: -1111;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1s ease;
}

.slide.image {
    opacity: 1;
    transform: translateY(0);
}