.logout-btn {
    cursor: pointer;
    color: var(--white);
    border: 0;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    transition: all ease .25s;
}

.logout-btn:hover {
    opacity: .7;
}