/* NAVBAR MENU */
a {
    color: #fff !important;
    opacity: .5;
    text-decoration: none;
}

a:hover {
    opacity: 1;
}

.nav-wrapper {
    padding-bottom: 1.5rem;
    z-index: 100;
}

.nav-group {
    font-size: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.nav-group .nav-title {
    font-size: 2rem;
    font-weight: 400;
}

.nav-group ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-group ul .nav-item a {
    display: block;
    transition: all .25s ease;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-group .nav-item .active {
    opacity: 1;
}

/* RESPONSIVE NAVBAR DROPDOWN MENU */

.nav-responsive {
    position: absolute;
    top: 0;
    left: 0;
}

.nav-responsive .nav-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-responsive ul {
    padding: 2rem 0 0 0;
    background-color: #F4F4ED;
    overflow: hidden;
    width: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
    border-radius: 0 5px 5px 0;
    transition: all .35s ease;
}

.nav-responsive ul a {
    display: inline-block;
    color: #111 !important;
    padding-bottom: .25rem;
}

.nav-responsive ul li {
    padding: 1rem 0;
}

.nav-responsive.active ul {
    width: 10rem;
}