/* RESPONSIVE NAVBAR DROPDOWN MENU */

.nav-responsive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-responsive .nav-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-responsive ul {
    padding: 2rem 0 0 0;
    background-color: var(--white);
    overflow: hidden;
    width: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
    border-radius: 0 5px 5px 0;
    transition: all .35s ease;
}

.nav-responsive ul a {
    display: inline-block;
    color: var(--secondary) !important;
    padding-bottom: .25rem;
}

.nav-responsive ul li {
    padding: 1rem 0;
}

.nav-responsive.active ul {
    width: 10rem;
}