.title,
.text {
    color: var(--white);
}

.text {
    opacity: .5;
}

.input {
    padding: .35rem 1rem;
    margin-bottom: .25rem;
    border-radius: 4px;
    border: none;
    outline: 0;
}

.button {
    height: 35.2px;
    padding: 0 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.25rem;
    transition: all .35s ease;
}

.button:hover {
    opacity: .7;
}