/* Styles for SignUpPage.js */

.sign-form-card {
    padding: 35px 30px;
    margin-top: 2rem;
    width: 90%;
}

@media (width >=500px) {
    .sign-form-card {
        width: 360px;
    }
}

.sign-form {
    display: grid;
}


.sign-form>input,
.sign-form>button {
    width: 100%;
    height: 55px;
    border-radius: 28px;
}

.form-title {
    font-size: 22px;
    color: var(--secondary);
}

.form-description {
    font-size: 14px;
    color: var(--secondary);
    opacity: .5;
}

.sign-form>input {
    outline: 0;
    border: 2px solid #285238;
    font-family: inherit;
    font-size: 16px;
    padding: 0 24px;
    color: #11274c;
}

.sign-form>input::placeholder {
    color: #285238;
    font-weight: 500;
    opacity: .75;
}

.sign-form>button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background-color: #1E6E37;
    color: #fff;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    transition: all ease .25s;
}

.sign-form>p {
    color: var(--secondary);
}

.sign-form>button:hover {
    opacity: .9;
}

.form-link {
    letter-spacing: normal;
    color: var(--primary) !important;
    font-weight: 400;
    opacity: 1;
}