/* Styles for LoginPage.js */

.login-form-card {
    padding: 40px 30px;
    margin-top: 10rem;
    width: 90%;
}

@media (width >=500px) {
    .login-form-card {
        width: 360px;
    }
}

#login-form {
    display: grid;
    gap: 16px;
}

#login-form>input,
#login-form>button {
    width: 100%;
    height: 55px;
    border-radius: 28px;
}

#login-form>input {
    outline: 0;
    border: 2px solid #285238;
    font-family: inherit;
    font-size: 16px;
    padding: 0 24px;
    color: #11274c;
}

#login-form>input::placeholder {
    color: #285238;
    font-weight: 500;
    opacity: .75;
}

#login-form>button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background-color: #1E6E37;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    border: 0;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all ease .35s;
}

#login-form>p a {
    color: #16C552;
}

#login-form>button:hover {
    opacity: .9;
}